<!--Display pairings of food with wines or food with beers depending-->
<!--on which type was clicked-->

<div id="topNav">
	<p><a href="/home">Home</a></p>
</div>
<div class="categoryPic">
	<img src="/images/wines.jpg " class="img-responsive"/>
</div>


<!--Display wine type and each associated wine pair-->
<div id="typeTitle">
	<h4>Simple Pairs for <%=@wine.wine_type%></h4>	
	<p>Scroll to See Varietals</p>		
</div>

<!--Display each food Pair-->
<div class="col-md-12 alert alert-success clearfix">
	<%=@wine.wine_type%>s pair well with these foods: 
		<%@wine.winepairs.each do |winepair|%>
			<%=winepair.food.food_type%>, 	
		<%end%>
	<hr>Try mixing and matching with your favorites and don't forget to save your Favs.	
</div>
<!--display varietals for this wine type-->
<div class="clearfix">
	<h4>Varietals of <%=@wine.wine_type%></h4>
	<p>Click Below for Recommendations</p>
</div>		
<div>
<!--for each varietal-->
		<%@wine.varietals.each do |varietal|%>
		<div class="well col-md-4" >
		<a href="/wines/pairs/<%=varietal.varietal_name%>/recommendations"><%=varietal.varietal_name%></a>	
		</div>
		<%end%>

<div class="col-md-4 alert alert-info">
	<a href="../varietals">See All Wine Varietals</a>
</div>		
</div>



<!--Button to make another pairing-->
<br>
<a href="/wines"><button class="button btn-primary" id="pairAnother">Pair Another Wine	
</button></a>
<br><br>
<a href="/home/logout">Logout</a>
